.hero {
    width: 100%;
    height: 377.95px;
    background-color: azure;
    margin: 0 auto;
    text-align: center;
}

body {
    padding: 0px;
    margin: 0px;
}
.titleb {
    text-align: center;
}
